<html lang="en">

  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg" style=" font-size: 16px;">
        <div class="collapse navbar-collapse row" id="navbarNavDropdown">
          <div class="col-sm-5 shopping-mall">
            <h2>BUY NOW</h2>
          </div>
          <ul class="navbar-nav col-sm-7">
            <li class="nav-item active">
              <a style="color: black;" class="nav-link" href="/user/home">
                Trang chủ</a>
            </li>
            <li class="nav-item">
              <a
                style="color: black; margin-left: 20px;"
                class="nav-link"
                href="/user/product"
              > Sản phẩm</a>
            </li>
            <li class="nav-item dropdown">
              <a
                style="color: black; margin-left: 20px;"
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >

                Tài Khoản
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
                style="font-size:16px; border-radius: 15px;"
              >
                <a class="dropdown-item" href="/user">Đăng kí thành viên</a>
                <a class="dropdown-item" href="/user/list">Kiểm tra thành viên</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/main">Đăng xuất</a>
              </div>
            </li>
          </ul>

        </div>

        <div>
          <form
            class="form-inline"
            style="border-radius: 15px; border: 1px solid;"
          >
            <input
              style="font-size:16px; border-radius: 15px;"
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              style="font-size:16px; border-radius: 15px;"
              class="btn my-2 my-sm-0"
              type="submit"
            >Search</button>
          </form>
        </div>
      </nav>

      <article>
        <div>
          <img
            style="width: 1100px; margin-bottom: 50px"
            src="https://bizflyportal.mediacdn.vn/bizflyportal/473/347/2020/06/04/00/20/5e015911832591446.jpg"
            alt=""
          />
        </div>
        <div>
          <div style="font-size: 20px;">
            <p><strong>Áo Phông</strong></p>
          </div>
          <div style="display: flex;">
            <div class="d-inline-block" style="margin-right: 20px;">
              <img
                style="width: 250px"
                src="https://media.canifa.com/Simiconnector/list_image_tablet1680661363.webp"
                alt=""
              />
            </div>
            <div class="d-inline-block" style="margin-right: 30px;">
              <img
                style="width: 250px"
                src="https://canifa.com/img/486/733/resize/8/t/8ts23s004-sg428-2-thumb.webp"
                alt=""
              />
              <p>Áo phông nam có hình in</p>
              <P>169.000đ</P>
              <button
                style="background-color: black;"
                type="submit"
                class="btn btn-primary"
              >Mua ngay</button>
            </div>
            <div class="d-inline-block" style="margin-right: 30px;">
              <img
                style="width: 250px"
                src="https://canifa.com/img/486/733/resize/8/t/8ts22s013-sk010-2-thumb.webp"
                alt=""
              />
              <p>Áo phông nam có hình in</p>
              <P>169.000đ</P>
              <button
                style="background-color: black;"
                type="submit"
                class="btn btn-primary"
              >Mua ngay</button>
            </div>
            <div class="d-inline-block" style="margin-right: 30px;">
              <img
                style="width: 250px"
                src="https://canifa.com/img/486/733/resize/8/t/8ts22s012-se301-2-thumb.webp"
                alt=""
              />
              <p>Áo phông nam có hình in</p>
              <P>169.000đ</P>
              <button
                style="background-color: black;"
                type="submit"
                class="btn btn-primary"
              >Mua ngay</button>
            </div>
          </div>
        </div>
        <div>
          <img
            style="width: 1100px; margin-top: 50px; margin-bottom: 50px"
            src="https://media.canifa.com/Simiconnector/list_image_tablet1680580434.webp"
            alt=""
          />
        </div>
        <div>
          <div style="font-size: 20px;">
            <p><strong>Áo Phông</strong></p>
          </div>
          <div style="display: flex;">
            <div class="d-inline-block" style="margin-right: 20px;">
              <img
                style="width: 250px"
                src="https://media.canifa.com/Simiconnector/list_image_tablet1680580553.webp"
                alt=""
              />
            </div>
            <div class="d-inline-block" style="margin-right: 30px;">
              <img
                style="width: 250px"
                src="https://canifa.com/img/486/733/resize/8/o/8ot23s001-sk010-xl-1_1.webp"
                alt=""
              />
              <p>Áo phông nam có hình in</p>
              <P>169.000đ</P>
              <button
                style="background-color: black;"
                type="submit"
                class="btn btn-primary"
              >Mua ngay</button>
            </div>
            <div class="d-inline-block" style="margin-right: 30px;">
              <img
                style="width: 250px"
                src="https://canifa.com/img/486/733/resize/8/o/8ot23s001-sb001-xl-1_1.webp"
                alt=""
              />
              <p>Áo phông nam có hình in</p>
              <P>169.000đ</P>
              <button
                style="background-color: black;"
                type="submit"
                class="btn btn-primary"
              >Mua ngay</button>
            </div>
            <div class="d-inline-block" style="margin-right: 30px;">
              <img
                style="width: 250px"
                src="https://canifa.com/img/486/733/resize/8/o/8ot23s001-sa422-xl-1.webp"
                alt=""
              />
              <p>Áo phông nam có hình in</p>
              <P>169.000đ</P>
              <button
                style="background-color: black;"
                type="submit"
                class="btn btn-primary"
              >Mua ngay</button>
              <button
                onclick="document.getElementById('myForm').style.display='block'"
              >Mua hàng</button>
            </div>
          </div>
        </div>

        <div id="myForm" style="display:none">
          <form>
            <div class="form-group" style="width: 250px;">
              <label>Màu sắc</label>

              <select class="form-control">
                <option>Đen</option>
                <option>Xanh</option>
                <option>Đỏ</option>
                <option>Tím</option>
              </select>
            </div>
          </form>
        </div>
      </article>

      <footer>
        <p style="font-size: 14px; text-align: center;">FPT Polytechnic &copy;
          2023. </p>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>

</html>